/*
** Fiche Indexation CSS
*/
div#archetypes-fieldname-documentTypePeda.field.ArchetypesMultiSelectionWidget{
    float:right;
    clear:right;
}
div#archetypes-fieldname-genDocumentType.field.ArchetypesMultiSelectionWidget{
    float:left;
}
pre.IndexationContentXML{
	background:#fff;
}
.outils{
	float: right;
    margin-left: 8px;
}
